.timeline-item {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    border: 1px var(--main-color);

}
.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
    text-align: left;
}


.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 10.5px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-weight: bold;
    padding: 0.5rem; 
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.timeline-content {
    padding: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    background-color: var(--bg-color);
    box-shadow: 0px 4px 10px rgba(19, 202, 187, 0.5); 
    font-family: "Red Hat Display", sans-serif;
}
.timeline-content h3{
    font-family: "Playfair Display", serif;
    padding: 0.5rem;
    font-size: 1.4rem;
}
.timeline-content h3, .timeline-content p {
    margin: 0;
}