.btn-group {
    margin-top: 0.1rem;
}

.btn {
    display: inline-block;
    padding: 4px 20px;
    margin: 0.1rem 10px; 
    color: #6ec4b1; 
    border: 2px solid #6ec4b1;
    border-radius: 3rem; 
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}


.btn:hover {
    background-color: #6ec4b1;
    color: #fff;
}